go/gobyexample.com/*/*.exe

cppreference/w/c/chrono/*.dSYM

cppreference/w/c/chrono/asctime
cppreference/w/c/chrono/clock_t
cppreference/w/c/chrono/clock
cppreference/w/c/chrono/ctime
cppreference/w/c/chrono/difftime
cppreference/w/c/chrono/gmtime
cppreference/w/c/chrono/localtime
cppreference/w/c/chrono/mktime
cppreference/w/c/chrono/strftime
cppreference/w/c/chrono/time_t
cppreference/w/c/chrono/time
cppreference/w/c/chrono/timespec_get
cppreference/w/c/chrono/timespec_getres
cppreference/w/c/chrono/timespec
cppreference/w/c/chrono/tm
cppreference/w/c/chrono/wcsftime

cppreference/w/c/*/*.exe
cppreference/w/c/*/*.ilk
cppreference/w/c/*/*.obj
cppreference/w/c/*/*.pdb
cppreference/w/c/*/*.pdb

cppreference/w/c/io/redir.txt
cppreference/w/c/io/test.bin
cppreference/w/c/io/file.bin
cppreference/w/c/io/input.txt
cppreference/w/c/io/fgetwc.dat
cppreference/w/c/io/file.txt
cppreference/w/c/io/to.txt
