# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse folders and files
.classpath
.project
.settings
bin

# Ignore VS Code folder
.vscode
